/* xs < 768 */
@media screen and (max-width: 767px) and (orientation : portrait) {
    body {
      font-size: 0.85em;
    }
    .h1-portfolio {
      font-size: 2.6em;
    }
    .lead-portfolio{
      font-size: 1.1em;
    }
    .portfolio-content{
      min-height: 530px;
      width: 75%;
      margin: 0 auto;
      text-align: justify;
    }
    .portfolio-jumbotron{
      margin-left: 3%;
      margin-right: 3%;
    }
    .div-mobile{
      display: block;
      margin-bottom: 5%;
    }
    .div-desktop{
      display: none;
    }
    .rounded-circle{
      height: 15%;
      width: 15%;
    }
    .icon-links{
      margin-left: 3%;
      margin-right: 3%;
    }
    #Avatar{
      width: 35%;
      height: 35%;
    }
}

@media screen and (max-width: 767px) and (orientation : landscape) {
    body {
      font-size: 0.95em;
    }
    .h1-portfolio {
      font-size: 2.6em;
    }
    .lead-portfolio{
      font-size: 1.1em;
    }
    .portfolio-content{
      min-height: 380px;
      width: 78%;
      margin: 0 auto;
      text-align: justify;
    }
    .portfolio-jumbotron{
      margin-left: 3%;
      margin-right: 3%;
    }
    .div-mobile{
      display: none;
    }
    .div-desktop{
      display: block;
      padding-left: 3%;
      padding-right: 3%;
    }
    .rounded-circle{
      width: 12%;
    }
    .div-head{
      margin: auto;
      padding: 10px;
    }
    .center-span{
      margin: auto;
      padding: 10px;
    }
    .icon-links{
      margin-left: 6%;
      margin-right: 6%;
    }
    #Avatar{
      width: 100%;
    }
}

/* sm */
@media screen and (min-width: 768px) {
    body {
      font-size: 0.95em;
    }
    .h1-portfolio {
      font-size: 2.8em;
    }
    .lead-portfolio{
      font-size: 1.15em;
    }
    .portfolio-content{
      min-height: 380px;
      width: 78%;
      margin: 0 auto;
      text-align: justify;
    }
    .portfolio-jumbotron{
      margin-left: 10%;
      margin-right: 10%;
    }
    .div-mobile{
      display: none;
    }
    .div-desktop{
      display: block;
      padding-left: 3%;
      padding-right: 3%;
    }
    .rounded-circle{
      width: 9%;
    }
    .div-head{
      margin: auto;
      padding: 10px;
    }
    .center-span{
      margin: auto;
      padding: 10px;
    }
    .icon-links{
      margin-left: 8%;
      margin-right: 8%;
    }
    #Avatar{
      width: 100%;
    }
}

/* md */
@media screen and (min-width: 992px) {
    body {
      font-size: 0.95em;
    }
    .h1-portfolio {
      font-size: 3em;
    }
    .lead-portfolio{
      font-size: 1.2em;
    }
    .portfolio-content{
      min-height: 360px;
      width: 78%;
      margin: 0 auto;
      text-align: justify;
    }
    .portfolio-jumbotron{
      margin-left: 15%;
      margin-right: 15%;
    }
    .rounded-circle{
      width: 8%;
    }
    #Avatar{
      width: 90%;
    }
}

/* lg */
@media screen and (min-width: 1200px) {
    body {
      font-size: 1em;
    }
    .h1-portfolio {
      font-size: 3.2em;
    }
    .lead-portfolio{
      font-size: 1.25em;
    }
    .portfolio-content{
      min-height: 360px;
      width: 78%;
      margin: 0 auto;
      text-align: justify;
    }
    .rounded-circle{
      width: 7%;
    }
    #Avatar{
      width: 80%;
    }
}

body{
  background: #282c34;
}

.lead-portfolio{
  text-align: justify;
}

.portfolio-div{
  padding-top: 2%;
}

.portfolio-backgr{
  background: #21252b;
}

.portfolio-avatar{
  text-align: center;
}

.padbot-3{
  padding-bottom: 3%;
}

.portfolio-jumbotron{
  background: #282c34;
  color: #dddddd;
}

.portfolio-container{
  background: #21252b;
}

.bold-text{
  font-weight: bold;
}

.italic-text{
  font-style: italic;
}

.div-hide{
  display: none;
}

.def-div{
  padding-top: 4%;
}

.portfolio-icon-small{
  height: 2.1%;
  width: 2.1%;
  margin-right: 0.5%;
}

#division{
  border-color: #666666;
}

.rounded-circle{
   /* background-image: url('/static/images/avatar.jpg');
   background-repeat: no-repeat;
   background-size: contain;
   transition: .5s ease; */
   background-color: inherit;
}

.rounded-circle:hover {
   /* background-image: url('/static/images/github-icon.png');
   background-size: contain;
   background-repeat: no-repeat; */
   background-image: radial-gradient(circle, #808080, #282c34);
}

/*
.topTitle{
  font-size: 20px;
  height: 18%;
  background-color: #21252b;
}

.mainAbilities{
  padding-top: 3em;
}

.mainTable{
  margin-left:auto;
  margin-right:auto;
  padding-top: 3em;
}


#mainTitle{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #dddddd;
  text-align: center;
  line-height: 3;
}

#programming{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
  pointer-events: visible;
}

#blender{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
}

#photography{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
}
*/
