body{
  background: #282c34;
}

/*
.topTitle{
  font-size: 20px;
  height: 18%;
  background-color: #21252b;
}

.mainAbilities{
  padding-top: 3em;
}

.mainTable{
  margin-left:auto;
  margin-right:auto;
  padding-top: 3em;
}
*/

.portfolio-backgr{
  background: #21252b;
}

.portfolio-avatar{
  text-align: center;
}

.rounded-circle{
  height: 8%;
  width: 8%;
}

.icon-links{
  margin-left: 3%;
  margin-right: 3%;
}

.bold-text{
  font-weight: bold;
}

.label-descr{
  width: 150px;
}

.div-hide{
  display: none;
}

.def-div{
  padding-top: 4%;
}

#ContainerBackground{
  background: #21252b;
}

#JumboBackground{
  background: #282c34;
  color: #dddddd;
}

#mainTitle{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #dddddd;
  text-align: center;
  line-height: 3;
}

#programming{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
  pointer-events: visible;
}

#blender{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
}

#photography{
  height: 500px;
  padding: 2.7em 0.7em 2.7em 0.7em;
}

#avatar{
  height: 20%;
  width: 20%;
  margin-left: 3%;
  margin-right: 3%;
}

#division{
  border-color: #666666;
}

#divBtn{
  text-align: center;
}
