<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Fernando Melo's Portfolio</title>
    <link rel="stylesheet" href="css/home_master.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script> -->
  </head>
  <body>

    <div class="topTitle">
      <span id="mainTitle"><h1>Welcome to my Portfolio</h1></span>
    </div>

    <div class="mainAbilities">
      <table class="mainTable">
          <td>
            <div class="programming">
              <img id="programming" src="Images/programming.jpg" alt="">
            </div>
          </td>
          <td>
            <div class="blender">
              <img id="blender" src="Images/blender.jpg" alt="">
            </div>
          </td>
          <td>
            <div class="photography">
              <img id="photography" src="Images/camera.jpg" alt="">
            </div>
          </td>
      </table>
    </div>
  </body>
</html>
