<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/index_master.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "scripts/programming.js" %}"></script>
    <title>Fernando Melo's Portfolio - Programming</title>
  </head>

  <body class="portfolio-backgr">
    <div id="ContainerBackground" class="container">
      <div id="JumboBackground" class="jumbotron">
        <div class="portfolio-avatar">
          {% if social_link %}
            {% for links in social_link %}
              {% if links.social == "Avatar" %}
                <img id="avatar" src="{{ links.image_path }}" alt="{{ links.social }}" class="rounded-circle">
              {% else %}
                <a href="{{ links.link }}" target="{{ links.target }}" class="icon-links"><img src="{{ links.image_path }}" alt="{{ links.social }}" title="{{ links.social }}" class="rounded-circle"></a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {% if user_data %}
        {% autoescape off %}
          <h1 class="display-4">{{ user_data.greetings }}</h1>
          <p class="lead">{{ user_data.intro_text }}</p>
        {% endautoescape %}
        {% endif %}

        <hr id="division" class="my-4">

        {% if user_desc %}
          <div class="text-center">
            <div id="divBtn" class="btn-group btn-group-toggle" data-toggle="buttons">
              {%for descr in user_desc %}
                <label id="{{ descr.category }}" class="btn btn-light btn-lg label-descr portfolio-button {{ descr.active }}">
                  <input type="radio" name="options" autocomplete="off" {{ descr.checked }}> {{ descr.category }}
                </label>
              {% endfor %}
            </div>
          </div>

          <!-- <ul class="nav justify-content-center">
            {%for descr in user_desc %}
            <li class="nav-item">
              <a class="nav-link {{ descr.active }}" href="#">{{ descr.category }}</a>
            </li>
            {% endfor %}
          </ul> -->

          {%for descr in user_desc %}
            <div id="{{ descr.category }}{{ descr.order }}" class="container def-div {{ descr.hide }}">
              {% autoescape off %}
              {{ descr.description }}
              {% endautoescape %}
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </body>
</html>
