<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/index_master.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <title>Fernando Melo's Portfolio - Programming</title>
  </head>

  <body id="programmingBody">
    <div id="mainContainer" class="container">
      <div id="myjumbo" class="jumbotron">
        <div class="myAvatar">
          {% if social_link %}
            {% for links in social_link %}
              {% if links.social == "Avatar" %}
                <img id="avatar" src="{{ links.image_path }}" alt="{{ links.social }}" class="rounded-circle">
              {% else %}
                <a href="{{ links.link }}" target="{{ links.target }}" class="IconLinks"><img src="{{ links.image_path }}" alt="{{ links.social }}" title="{{ links.social }}" class="rounded-circle"></a>
              {% endif %}
            {% endfor %}
          {% endif %}
        </div>

        {% if user_data %}
        {% autoescape off %}
          <h1 class="display-4">{{ user_data.greetings }}</h1>
          <p class="lead">{{ user_data.intro_text }}</p>
        {% endautoescape %}
        {% endif %}

        <hr id="division" class="my-4">

        <div class="text-center">
          <div id="divBtn" class="btn-group btn-group-toggle" data-toggle="buttons">
            <label id="opt1" class="btn btn-light active btn-lg mylabel">
              <input type="radio" name="options" id="option1" autocomplete="off" checked> Overview
            </label>
            <label id="opt2" class="btn btn-light btn-lg mylabel">
              <input type="radio" name="options" id="option2" autocomplete="off"> Oracle
            </label>
            <label id="opt3" class="btn btn-light btn-lg mylabel">
              <input type="radio" name="options" id="option3" autocomplete="off"> Python
            </label>
            <label id="opt4" class="btn btn-light btn-lg mylabel">
              <input type="radio" name="options" id="option4" autocomplete="off"> Web
            </label>
          </div>
        </div>

        <div id="overview" class="container">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>

  </body>
</html>
